In [ ]:
1. Feladat
Filter: {"languages.0" : "English", "awards.wins" : 2}
Project: { 
    "_id" : 0,

    "title": 1,

    "writers": 1,

    "directors": 1,

    "year": 1}
Sort : {"year" : -1 }

In [ ]:
2.Feladat
use sample_mflix
db.users.find(
    {   
        "email": { $regex: /.*\.com$/ 
    } },
    {   
        name: 1, 
        email: 1, 
        _id: 0 
    })

In [ ]:
3.Feladat
db.movies.aggregate([
    { 
        $match: 
            { 
                year: 
                    { 
                        $gt: 1950 
                    } 
            } 
    }, 
    { 
        $group: 
            { 
                _id: "$rated", 
                averageRuntime: 
                { 
                    $avg: "$runtime" 
                } 
            } 
    }, 
    { 
        $project: 
        { 
            _id: 0,
            rated: "$_id",
            averageRuntime: 1 
        } 
    }
]);

In [ ]:
4.Feladat
MATCH (p:Person)-[:ACTED_IN]->(m:Movie)
WHERE m.released > 1960
RETURN p.name AS `Actor Name`, m.title AS `Movie Title`, m.released AS `Release Year`
ORDER BY m.released DESC

In [ ]:
5.Feladat
MATCH (p:Person)-[:ACTED_IN]->(m:Movie)
WHERE p.born > 1980
WITH p, COUNT(m) AS `NumMoviesActedIn`
RETURN p.name AS `Actor`, p.born AS `BirthYear`, `NumMoviesActedIn`
ORDER BY p.born, `NumMoviesActedIn` DESC