In [ ]:
SELECT V.NEV, V.EMAIL, V.USERNEV
FROM VENDEG V
JOIN FOGLALAS F ON V.USERNEV = F.UGYFEL_FK
WHERE MONTH(V.SZUL_DAT) != 5
GROUP BY V.NEV, V.EMAIL, V.USERNEV
HAVING COUNT(F.FOGLALAS_PK) > 1;

In [ ]:
SELECT VENDEG.*, SZOBA.FEROHELY
FROM VENDEG
JOIN FOGLALAS ON VENDEG.USERNEV = FOGLALAS.UGYFEL_FK
JOIN SZOBA ON FOGLALAS.SZOBA_FK = SZOBA.SZALLAS_FK
WHERE SZOBA.KLIMAS = 'i'
AND SZOBA.FEROHELY = (
    SELECT MAX(FEROHELY)
    FROM SZOBA
    WHERE KLIMAS = 'i'
);

In [ ]:
WITH FoglalasokSzama AS (
  SELECT
    UGYFEL_FK AS VENDEG_ID,
    COUNT(*) AS FOGLALASOK_SZAMA
  FROM FOGLALAS
  GROUP BY UGYFEL_FK
),
RangsoroltFoglalasok AS (
  SELECT
    VENDEG_ID,
    FOGLALASOK_SZAMA,
    RANK() OVER (ORDER BY FOGLALASOK_SZAMA DESC) AS RANGSOR
  FROM FoglalasokSzama
)
SELECT
  RANGSOR,
  VENDEG_ID,
  NEV,
  FOGLALASOK_SZAMA
FROM RangsoroltFoglalasok R
JOIN VENDEG V ON R.VENDEG_ID = V.USERNEV
ORDER BY RANGSOR;

In [ ]:
SELECT SZOBA_SZAMA, CONVERT(DATE, METTOL) as DATE, COUNT(*) as RESERVATIONS
FROM FOGLALAS
JOIN SZOBA ON FOGLALAS.SZOBA_FK = SZOBA.SZALLAS_FK
GROUP BY SZOBA_SZAMA, CONVERT(DATE, METTOL)
HAVING COUNT(*) >= 2
ORDER BY SZOBA_SZAMA, DATE;

In [ ]:
SELECT COUNT(DISTINCT FEROHELY) AS KULONBOZO_ERTEK_SZAMA
FROM SZOBA;

SELECT MIN(FEROHELY) AS MIN_FEROHELY,
       MAX(FEROHELY) AS MAX_FEROHELY,
       AVG(FEROHELY) AS AVG_FEROHELY
FROM SZOBA;

SELECT
    (COUNT(CASE WHEN FEROHELY IS NULL THEN 1 END) * 100.0 / COUNT(*)) AS NULL_SZAZALEK,
    (COUNT(CASE WHEN FEROHELY IS NOT NULL THEN 1 END) * 100.0 / COUNT(*)) AS NOT_NULL_SZAZALEK
FROM SZOBA;

In [ ]:
# String kulcs (könyvtár neve)

SET konyvtar_nev "Városi Könyvtár"



# Hash kulcs (könyv adatai)

HSET konyv:1 cim "Az ajtó" szerzo "Szabó Magda" ev 1987

HSET konyv:2 cim "A Pál utcai Fiúk" szerzo "Molnár Ferenc" ev 1906

HSET konyv:3 cim "A kis herceg" szerzo "Antoine de Saint-Exupéry" ev 1943



# Set kulcs (műfajok)

SADD mufajok fantasy scifi regény



# List kulcs (kikölcsönzött könyvek)

LPUSH kikolcsonzott_konyvek "A Gyűrűk Ura" "Harry Potter és a bölcsek köve" "Az ember, aki csütörtök volt"



# Sorted set kulcs (könyvek és kölcsönzések száma)

ZADD konyvek_kolcsonzesek 5 "A Gyűrűk Ura" 3 "Harry Potter és a bölcsek köve" 2 "Az ember, aki csütörtök volt"

In [ ]:
CREATE TABLE STUDENT (

    ID int PRIMARY KEY,

    Nev text,

    Teljesitett_felevek list<int>,

    Eredmenyek map<int, decimal>,

    Nyelvtudas set<text>

);



INSERT INTO STUDENT (ID, Nev, Teljesitett_felevek, Eredmenyek, Nyelvtudas)

VALUES (

    1,

    'Sztaniszláv Szabolcs',

    [1, 2, 3],

    {1: 4.50, 2: 4.85, 3: 4.20},

    {'angol', 'német'}

);



INSERT INTO STUDENT (ID, Nev, Teljesitett_felevek, Eredmenyek, Nyelvtudas)

VALUES (

    2,

    'Kis Pista',

    [1, 2],

    {1: 3.80, 2: 4.00},

    {'angol', 'francia', 'spanyol'}

);

In [ ]:
MATCH (tom:Person {name: 'Tom Hanks'})-[:ACTED_IN]->(movie)<-[:ACTED_IN]-(coactor:Person)
WHERE coactor.name <> 'Tom Hanks'
RETURN DISTINCT coactor.name AS SzereploNeve